# --- full-stack backend ---
fastapi==0.115.6
uvicorn[standard]==0.30.6
psycopg[binary]==3.2.3
python-dotenv==1.0.1
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-multipart
email-validator
pymupdf
dashscope

# --- LLM  ---
langchain>=1.0.0,<1.1.0
langgraph==1.0.4
deepagents>=0.1.5
langchain-openai
ragas==0.4.3

# --- vector process ---
faiss-cpu
pypdf
numpy
pandas
matplotlib
tiktoken

# --- dependencies (synced from environment) ---
aiodns
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anthropic
anyio
attrs
bcrypt
blockbuster
bracex
brotlicffi
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptography
cycler
dataclasses-json
distro
dnspython
docstring_parser
fonttools
forbiddenfruit
frozenlist
googleapis-common-protos
greenlet
grpcio
grpcio-tools
h11
httpcore
httptools
httpx
httpx-sse
idna
importlib_metadata
jiter
jsonpatch
jsonpointer
jsonschema_rs
kiwisolver
langchain-anthropic
langchain-classic
langchain-community
langchain-core
langchain-deepseek
langchain-text-splitters
langgraph-api==0.5.27
langgraph-checkpoint==3.0.1
langgraph-cli==0.4.7
langgraph-prebuilt==1.0.5
langgraph-runtime-inmem==0.19.0
langgraph-sdk==0.2.10
langsmith
marshmallow
multidict
mypy-extensions
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
packaging
pillow
propcache
protobuf
psycopg2-binary
pycares
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
python-dateutil
pytz
PyYAML
rank-bm25
regex
requests
requests-toolbelt
six
sniffio
SQLAlchemy
sse-starlette
starlette
structlog
tenacity
tqdm
typing_extensions
typing-inspect
typing-inspection
tzdata
urllib3
vectorstores
watchfiles
wcmatch
websocket-client
websockets
xxhash
yarl
zipp
zstandard